.row
  .col-md-12
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, novalidate: true }) do |f|
      = devise_error_messages!
      = flash_messages

.row
  .col-md-12
    %h2
      Didn&rsquo;t receive confirmation instructions?
    %p
      Enter your email address below and we&rsquo;ll resend them to you.
  .col-md-8
    %fieldset
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, novalidate: true }) do |f|
        %ol.inline
          %li
            .row
              .col-md-1
                = f.label :email
              .col-md-7
                = f.email_field :email
                .actions= f.submit "Send instructions", :class => 'btn btn-primary'
