.row
  .four.columns
    %p
      Stored on your #{@profile.provider_name.titleize.split("Provider").first}
  .four.columns.align-right.actions           
    = link_to edit_profile_path, :class => 'small button' do
      %i{:class => "foundicon-edit"}
      Edit profile
.row
  .six.columns
    .panel.listing
      %h3
        Name
      %ul.profile      
        %li
          Title: #{@profile.title}
        %li
          First name: #{@profile.first_name}
        %li
          Middle name: #{@profile.middle_name}
        %li
          Last name: #{@profile.last_name}
        %li
          Suffix: #{@profile.suffix}
    
    .panel.listing
      %h3
        Address
      %ul.profile 
        %li
          Address: #{@profile.address}
        %li
          Address (Line 2): #{@profile.address2}
        %li
          City: #{@profile.city}
        %li
          State: #{@profile.state}
        %li
          Zip: #{@profile.zip}
  .six.columns        
    .panel.listing
      %h3
        Date of birth
      %ul.profile   
        %li
          #{@profile.date_of_birth}
    .panel.listing
      %h3 
        Phone
      %ul.profile   
        %li
          Phone: #{@profile.phone}
        %li
          Mobile: #{@profile.mobile}