.row
  .eight.columns
    %h2
      = t(:edit_your_profile)
    = form_for @profile do |form|
      = flash_messages
      %fieldset
        %legend
          = t(:name)
        %ol
          %li
            = form.label :title
            = form.select :title, title_options, :include_blank => true
          %li
            = form.label :first_name
            = form.text_field :first_name
          %li
            = form.label :middle_name
            = form.text_field :middle_name
          %li
            = form.label :last_name
            = form.text_field :last_name
          %li
            = form.label :suffix
            = form.select :suffix, suffix_options, :include_blank => true
      %fieldset
        %legend
          = t(:address)
        %ol
          %li
            = form.label :address
            = form.text_field :address
          %li
            = form.label :address2
            = form.text_field :address2
          %li
            = form.label :city
            = form.text_field :city
          %li
            = form.label :state
            = form.select :state, us_state_options, :include_blank => true
          %li
            = form.label :zip
            = form.text_field :zip 
      %fieldset
        %legend 
          = t(:phone)
        %ol
          %li
            = form.label :phone_number
            = form.phone_field :phone_number
          %li
            = form.label :mobile_number
            = form.phone_field :mobile_number    
      %fieldset
        %legend
          = t(:gender)
        %ol 
          %li
            = form.label :gender
            = form.select :gender, gender_options, :include_blank => true
      %fieldset
        %legend
          = t(:marital_status)
        %ol  
          %li
            = form.label :marital_status
            = form.select :marital_status, marital_status_options, :include_blank => true
      %fieldset
        %legend
          = t(:about_you)
        %ol.inline
          %li.full
            = form.check_box :is_parent
            = form.label :is_parent, t(:parent)
            
          %li.full
            = form.check_box :is_veteran
            = form.label :is_veteran, t(:veteran)
            
          %li.full
            = form.check_box :is_student
            = form.label :is_student, t(:student)
            
          %li.full
            = form.check_box :is_retired
            = form.label :is_retired, t(:retired)
      = form.submit t(:update_profile), :class => 'large button positive'
      = link_to t(:cancel), profile_path
  .four.columns
    .panel.sidebar.tertiary
      = render :partial => 'home/administrative_sidebar'

