.row
  .eight.columns
    %h2
      Edit your profile
    = form_for @profile, :url => profile_path do |form|
      - if flash[:error]
        .alert-box
          = flash[:error]
      %fieldset
        %legend
          Name
        %ol
          %li
            = form.label :title
            = form.select :title, title_options, :include_blank => true
          %li
            = form.label :first_name
            = form.text_field :first_name
          %li
            = form.label :middle_name
            = form.text_field :middle_name
          %li
            = form.label :last_name
            = form.text_field :last_name
          %li
            = form.label :suffix
            = form.select :suffix, suffix_options, :include_blank => true
      %fieldset
        %legend
          Address
        %ol
          %li
            = form.label :address
            = form.text_field :address
          %li
            = form.label :address2
            = form.text_field :address2
          %li
            = form.label :city
            = form.text_field :city
          %li
            = form.label :state
            = form.select :state, us_state_options, :include_blank => true
          %li
            = form.label :zip
            = form.text_field :zip 
      %fieldset
        %legend
          Date of birth
        %ol.sublist
          %li.inline.four.columns
            = form.date_select :date_of_birth, :start_year => 1900, :end_year => Date.current.year, :prompt => { :month => 'Select month', :day => 'Select day', :year => 'Select year' }, :date_separator => "</li><li class='inline four columns'>".html_safe    
      %fieldset
        %legend 
          Phone
        %ol
          %li
            = form.label :phone
            = form.phone_field :phone
          %li
            = form.label :mobile
            = form.phone_field :mobile
      = form.submit "Update profile", :class => 'large button positive'
      = link_to 'Cancel', profile_path
  .four.columns
    .panel.sidebar.tertiary
      = render :partial => 'home/administrative_sidebar'