.row
  .col-md-2
    %h5
      Settings
    %ul.nav.nav-pills.nav-stacked
    = render_navigation(:context => :settings)

    - if @profile && !@profile.errors.blank?
      - content_for :scripts do
        = javascript_tag do
          $('html,body').animate({scrollTop: $('.field_with_errors').offset().top},'slow');

  .col-md-8
    %h2
      My Profile
    = form_for @profile do |form|
      - if flash[:error]
        .alert-box
          = flash[:error]
      %fieldset
        %legend
          Name
        %ol.inline
          %li.row
            .col-md-2
              = form.label :title
            .col-md-6
              = form.select :title, title_options, :include_blank => true
          %li.row
            .col-md-2
              = form.label :first_name
            .col-md-6
              = form.text_field :first_name
          %li.row
            .col-md-2
              = form.label :middle_name
            .col-md-6
              = form.text_field :middle_name
          %li.row
            .col-md-2
              = form.label :last_name
            .col-md-6
              = form.text_field :last_name
          %li.row
            .col-md-2
              = form.label :suffix
              = form.select :suffix, suffix_options, :include_blank => true
      %fieldset
        %legend
          Address
        %ol.inline
          %li
            = form.label :address
            = form.text_field :address
          %li
            = form.label :address2
            = form.text_field :address2
          %li
            = form.label :city
            = form.text_field :city
          %li
            = form.label :state
            = form.select :state, us_state_options, :include_blank => true
          %li
            = form.label :zip
            = form.text_field :zip
      %fieldset
        %legend
          Phone
        %ol.inline
          %li
            = form.label :phone_number
            = form.phone_field :phone_number
          %li
            = form.label :mobile_number
            = form.phone_field :mobile_number
      %fieldset
        %legend
          Gender
        %ol.inline
          %li
            = form.label :gender
            = form.select :gender, gender_options, :include_blank => true
      %fieldset
        %legend
          Marital status
        %ol.inline
          %li
            = form.label :marital_status
            = form.select :marital_status, marital_status_options, :include_blank => true
      %fieldset
        %legend
          About you
        %ol.inline
          %li.full
            = form.check_box :is_parent
            = form.label :is_parent, "Parent"

          %li.full
            = form.check_box :is_veteran
            = form.label :is_veteran, "Veteran"

          %li.full
            = form.check_box :is_student
            = form.label :is_student, "Student"

          %li.full
            = form.check_box :is_retired
            = form.label :is_retired, "Retired"
      = form.submit "Update profile", :class => 'btn btn-primary'
      &nbsp;
      = link_to 'Cancel', profile_path
  .col-md-4
    .panel.sidebar.tertiary
      = render :partial => 'home/administrative_sidebar'

