.row
  .eight.columns
    %h2
      Your profile
  .four.columns.align-right.actions           
    = link_to edit_profile_path, :class => 'small button' do
      %i{:class => "foundicon-edit"}
      Edit profile  
.row
  .six.columns
    .panel.listing
      %h3
        Name
      %ul.profile      
        %li
          Title: #{@profile.title}
        %li
          First name: #{@profile.first_name}
        %li
          Middle name: #{@profile.middle_name}
        %li
          Last name: #{@profile.last_name}
        %li
          Suffix: #{@profile.suffix}
    
    .panel.listing
      %h3
        Address
      %ul.profile 
        %li
          Address: #{@profile.address}
        %li
          Address (Line 2): #{@profile.address2}
        %li
          City: #{@profile.city}
        %li
          State: #{@profile.state}
        %li
          Zip: #{@profile.zip}
  .six.columns        
    .panel.listing
      %h3 
        Phone
      %ul.profile   
        %li
          Phone: #{@profile.phone_number}
        %li
          Mobile: #{@profile.mobile_number}    
    .panel.listing
      %h3
        Information about you
      %ul.profile
        %li
          Email: #{@user.email}
        %li
          Gender: #{@profile.print_gender}
        %li
          Marital status: #{@profile.print_marital_status}
        %li
          Parent: #{yes_or_no(@profile.is_parent)}
        %li
          Veteran: #{yes_or_no(@profile.is_veteran)}
        %li
          Student: #{yes_or_no(@profile.is_student)}
        %li
          Retired: #{yes_or_no(@profile.is_retired)}
.row


