%p
  After months of research, writing code, and applying one more coat of paint, we're happy to say:

%p
  “Congratulations, you're invited to join the MyGov beta!”

%p
  You may be wondering what to do now. Good question. Here are a few next steps:

%ol
  %li
    #{link_to 'Sign up for your account', 'https://my.usa.gov/sign_up?utm_source=beta&utm_medium=medium&utm_content=segement_b&utm_campaign=beta_signup'}.
  %li
    Explore MyGov.
  %li
    Edit your account profile.

%p
  Once you've had a chance to look around and kick the tires, please feel free to #{link_to 'tell us your thoughts', 'http://bit.ly/ideascale'}.

%p
  Regards,
%p
  Phil, Ben, Danny, Kara & Greg
%p
  Team MyGov | #{link_to 'Blog', 'http://bit.ly/mygovblog'} | #{link_to 'Twitter', 'http://bit.ly/mygovtwitter'} | #{link_to 'Facebook', 'http://bit.ly/mygovfacebook'} | #{link_to 'GitHub', 'http://bit.ly/projectmygovgithub'} | #{link_to 'IdeaScale', 'http://bit.ly/mygovideascale'}
  
%img{:src => "http://nojsstats.appspot.com/UA-34287508-2/my.usa.gov&utm_source=beta&utm_medium=medium&utm_content=segement_b&utm_campaign=beta_signup_email"}
+!!!