%p
  Welcome to the MyUSA beta.
%p

%p
  #{link_to 'Sign up for your account', 'https://my.usa.gov/sign_up?utm_source=beta&utm_medium=medium&utm_content=segement_a&utm_campaign=beta_signup'} today. Once you've had a chance to look around and kick the tires, please feel free to #{link_to 'share your thoughts with us', 'mailto:myusa@gsa.gov'}.
%p

%p
  Regards,
%p
  MyUSA

%p
  MyUSA | #{link_to 'Blog', 'http://bit.ly/MyUSA-blog'} | #{link_to 'Twitter', 'http://bit.ly/ProjectMyUSA-TW'} | #{link_to 'Facebook', 'http://bit.ly/ProjectMyUSA-FB'} | #{link_to 'GitHub', 'http://bit.ly/projectmygovgithub'}
  
%img{:src => "http://nojsstats.appspot.com/UA-34287508-2/my.usa.gov&utm_source=beta&utm_medium=medium&utm_content=segement_a&utm_campaign=beta_signup_email"}