Welcome to the MyUSA beta.#{%Q{\r\n}}
#{%Q{\r\n}}
Sign up for your account today. Once you've had a chance to look around and kick the tires, please feel free to share your thoughts with us.#{%Q{\r\n}}
#{%Q{\r\n}}
To sign up for your account:#{%Q{\r\n}}
https://my.usa.gov/sign_up?utm_source=beta&utm_medium=medium&utm_content=segement_a&utm_campaign=beta_signup#{%Q{\r\n}}
#{%Q{\r\n}}
We welcome your feedback:#{%Q{\r\n}}
myusa@gsa.gov#{%Q{\r\n}}
#{%Q{\r\n}}
Regards,#{%Q{\r\n}}
MyUSA#{%Q{\r\n}}
#{%Q{\r\n}}
Blog: http://bit.ly/MyUSA-blog#{%Q{\r\n}}
Twitter: http://bit.ly/ProjectMyUSA-TW#{%Q{\r\n}}
Facebook: http://bit.ly/ProjectMyUSA-FB#{%Q{\r\n}}
GitHub: http://bit.ly/projectmygovgithub#{%Q{\r\n}}