.row
  .twelve.columns
    
.row
  .twelve.columns
    .panel.task.group
      .six.columns
        %h2
          #{@task.app.name}
        %p
          %strong
            #{@task.task_items.completed.size} of #{@task.task_items.size} 
          items completed.
      
      .six.columns
        - if @task.completed?
          %h5
            Task completed at #{@task.completed_at}
        - else
      .six.columns.align-right
        = link_to task_path(@task, :completed => true), :method => :put, :class => '' do
          %i{:class => 'foundicon-checkmark'}
          Mark all items complete    
      
      .twelve.columns
  
        %ol.inline.group
        - @task.task_items.each do |task_item|
          %li
            %h5
              = link_to task_item.name, task_item.url
            - if task_item.completed?
              Item completed at: #{task_item.completed_at}
            - else
              = link_to  task_path(@task, :completed => true), :method => :put, :class => '' do
                %i{:class => 'foundicon-checkmark'}
                Mark Complete
              = link_to task_item_path(task_item), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button transparent' do
                %i{:class => 'foundicon-remove'}
                Remove                
                  