.row
  .twelve.columns
    .panel.task.group
      %h3
        %i{:class => "foundicon-checkmark"}
        #{@task.name} 
      %p.supporting-text
        %strong
          #{@task.task_items.completed.size} of #{@task.task_items.size} 
        items completed.
      - if @task.completed?
        %h5
          Task completed at #{pretty_time(@task.completed_at)}
      - else
      %ol.item-list.clear
        - @task.task_items.each do |task_item|
          %li 
            = task_item_link(task_item)
            - if task_item.completed?
              %span.actions.align-right
                Item completed at: #{pretty_time(task_item.completed_at)}
            - else
              %span.actions.align-right
                = link_to task_item_path(task_item, :completed => true), :method => :put, :class => '' do
                  %i{:class => 'foundicon-checkmark'}
                  Mark complete
              %span.actions.align-right
                = link_to task_item_path(task_item), :method => :delete, :data => { :confirm => 'This cannot be undone.' }, :class => '' do
                  %i{:class => 'foundicon-remove'}
                  Remove                
        = link_to task_path(@task, :completed => true), :method => :put, :class => 'complete' do
          .row
            .twelve.columns.align-right
              %i{:class => 'foundicon-checkmark'}
              Mark all items for <strong>#{@task.name}</strong> complete    
.row
  .twelve.columns
    = link_to 'â† Back to Dashboard', root_path, :class => 'small button'  