.row
  .twelve.columns
    .panel.task.group
      .eight.columns
        %h3
          #{@task.name}
        %p
          %strong
            #{@task.task_items.completed.size} of #{@task.task_items.size} 
          items completed.
      
      .four.columns.align-right
        - if @task.completed?
          %h5.right
            Task completed at #{@task.completed_at}
        - else
          = link_to task_path(@task, :completed => true), :method => :put, :class => 'align-right' do
            %i{:class => 'foundicon-checkmark'}
            Mark all items complete    
      
      .twelve.columns
  
        %ol.inline.group
        - @task.task_items.each do |task_item|
          %li
            %h5
              = link_to task_item.name, task_item.url
            - if task_item.completed?
              Item completed at: #{task_item.completed_at}
            - else
              = link_to  task_item_path(task_item, :completed => true), :method => :put, :class => '' do
                %i{:class => 'foundicon-checkmark'}
                Mark complete
              = link_to task_item_path(task_item), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button transparent' do
                %i{:class => 'foundicon-remove'}
                Remove                
                  
