- if current_app
  #beta-modal.reveal-modal{"data-reveal" => ""}
    %h2 Beta Notice:
    %p.lead #{t('beta_warning_message')}
    %a.close-reveal-modal &#215;
  - content_for :scripts do
    = javascript_tag do
      $('#beta-modal').reveal();
- elsif flash.alert
  - content_for :scripts do
    = javascript_tag do
      $('html,body').animate({scrollTop: $('.alert-box').offset().top},'slow');
.row
  .twelve.columns
    %h2
      = t(:sign_in)
.row
  .eight.columns
    .panel
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {novalidate: true}) do |f|
        = flash_messages
        = devise_error_messages!
        = custom_message
        %fieldset.plain
          %ol.inline
            %li
              = f.label :email
              = f.email_field :email
            %li.no-margin
              = f.label :password
              = f.password_field :password, autocomplete: 'off'
            - if devise_mapping.rememberable?
              %li.full
                = f.check_box :remember_me
                = f.label :remember_me
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            = link_to t(:forgot_your_password), new_password_path(resource_name)
        .actions
          = f.submit t(:sign_in), :class => 'large positive button', :accesskey => access_keys[:submit]
          - if devise_mapping.registerable? && controller_name != 'registrations'
            = link_to t(:sign_up), new_registration_path(resource_name)
          = current_app ? "&nbsp; or &nbsp; #{return_to_app_link}".html_safe : nil
    .four.columns
  .four.columns
    - if custom_message.present?
      .panel.side-panel
        = custom_message
    .panel.side-panel
      = render "devise/shared/links"
  .four.columns
    .panel.tertiary
      %h3.h4
        Help
      = render "devise/shared/help"
