%row
  .twelve.columns
    %h2 Resend unlock instructions
  .eight.columns
    .panel
      %fieldset.plain
        = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          %ol
            %li
              = f.label :email
              = f.email_field :email
          %div= f.submit "Resend unlock instructions", :class => 'large button positive'

  .four.columns
    .panel.side-panel
      = render "devise/shared/links"
