.row
  .twelve.columns
    %h2
      Messages &amp; Notifications
    - if @notifications.empty?
      %p
        You currently have no notifications.
    - else
      %table
        %tr
          %th{:scope => "col"}
            From
          %th{:scope => "col"}
            Subject
          %th{:scope => "col"}
            Date
          %th{:scope => "col"}
            Actions
        - @notifications.each do |notification|
          %tr
            - if notification.app
              %td
                = notification.app.name
            - else
              %td
                MyGov
            %td
              %i.general.foundicon-mail
              = link_to notification.subject, notification_path(notification)
            %td
              = time_ago_in_words(notification.received_at)
            %td              
              = link_to notification_path(notification, :page => params[:page]), :method => :delete, :class => 'small alert button' do
                %i{:class => 'foundicon-remove'}
                Remove
      = will_paginate @notifications