.row
  .twelve.columns
    %h2
      Notifications
    - if @notifications.empty?
      %p
        You currently have no notifications.
    - else
      %table
        %tr
          %th{:scope => "col"}
            From
          %th{:scope => "col"}
            Subject
          %th{:scope => "col"}
            Date
          %th{:scope => "col"}
            Actions
        - @notifications.each do |notification|
          %tr
            - if notification.app
              %td
                = highlight_notification_if_unread(notification, notification.app.name)
            - else
              %td
                = highlight_notification_if_unread(notification, 'MyUSA')
            %td
              %i.general.foundicon-mail
              = link_to highlight_notification_if_unread(notification), notification_path(notification)
            %td
              = highlight_notification_if_unread(notification, pretty_time(notification.received_at))
            %td              
              = link_to notification_path(notification, :page => params[:page]), :method => :delete, :class => 'small alert button' do
                %i{:class => 'foundicon-remove'}
                Remove
    = will_paginate @notifications