.row
  .twelve.columns
    %h2
      Messages &amp; Notifications

.row
  .eight.columns
    .panel
      %h3
        = @notification.subject
      
      %ul.meta-list
      
        %li
          Received at: #{time_ago_in_words(@notification.received_at)}
        %li
          From: #{@notification.app.name}
        
      %p
        = @notification.body
    = link_to 'x Delete', notification_path(@notification), { :class => 'medium button' }, :method => :delete