%row
  .twelve.columns
    %h2
      Didn't receive unlock instructions?
    %p
      Enter your email address below and we'll resend them to you.
  .eight.columns
    .panel
      %fieldset.plain
        = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, novalidate: true }) do |f|
          = flash_messages
          = devise_error_messages!
          %ol
            %li
              = f.label :email
              = f.email_field :email
          %div= f.submit "Send", :class => 'large button positive', :accesskey => access_keys[:submit]

  .four.columns
    .panel.side-panel
      = render "devise/shared/links"
