.row
  .twelve.columns
    %h2
      = t(:change_your_password)
    .eight.columns
      .panel
        = form_for(@user, :url => { :action => "update_password" } ) do |f|
          = error_messages_for(@user)
          %div
            = f.label :password, t(:new_password)
            %br/
            = f.password_field :password, autocomplete: 'off'
          %div
            = f.submit t(:change_my_password), class: 'large button positive', :accesskey => access_keys[:submit]
            = link_to 'Cancel', account_index_path
