.row
  .twelve.columns
    %h2 Change your password
    .eight.columns
      .panel
        = form_for(@user, :url => { :action => "update_password" } ) do |f|
          - if @user.errors.any?
            .alert-box.alert
              = error_messages_for(@user)
          %div
            = f.label :password, "New password"
            %br/
            = f.password_field :password, autocomplete: 'off'
          %div
            = f.label :password_confirmation, "Confirm new password"
            %br/
            = f.password_field :password_confirmation, autocomplete: 'off'
          %div= f.submit "Change my password", class: 'large button positive'
