.row
  .col-md-2
    %h5
      Settings

    %ul.nav.nav-pills.nav-stacked
    = render_navigation(:context => :settings)

  .col-md-8
    %h2
      Change Your Password

    - if @user.errors.any?
      .alert.alert-danger
        = error_messages_for(@user)

    %p
      Create a new password for
      %strong
        = @user.email

    - if flash.notice
      .alert.alert-info
        = flash.notice

    = form_for(@user, :url => { :action => "update_password" } ) do |f|


      %div
        = f.label :current_password
        %br
        = f.password_field :current_password
        %br
        = f.label :current_password, "New Password"
        %br
        = f.password_field :password, autocomplete: 'off'
        %br
        = f.label :password_confirmation, "Confirm New Password"
        %br
        = f.password_field :password_confirmation, autocomplete: 'off'

      %div
        = f.submit "Update my password", :class=>'btn btn-primary form-button'

