.row
  .twelve.columns
    %h3
      Your MyGov Profile
    %p
      Title: #{@user.title}
    %p
      First name: #{@user.first_name}
    %p
      Middle name: #{@user.middle_name}
    %p
      Last name: #{@user.last_name}
    %p
      Suffix: #{@user.suffix}
    %p
      Address: #{@user.address}
    %p
      Address (Line 2): #{@user.address2}
    %p
      City: #{@user.city}
    %p
      State: #{@user.state}
    %p
      Zip: #{@user.zip}
    %p
      Date of Birth: #{@user.date_of_birth}
    %p
      Phone: #{@user.print_phone}
    %p
      Mobile: #{@user.print_mobile}
    %p
      Gender: #{@user.print_gender}
    %p
      Marital status: #{@user.print_marital_status}

    = link_to 'Edit your Profile', edit_profile_path, :class => 'button large'