.panel.tertiary
  %ul.inline-list
    
    %li 
      %a{:href => "#top"} 
        %i{:class => "foundicon-up-arrow"}
        Go to top
    
    %li
      = link_to terms_of_service_path do
        %i{:class => "foundicon-page"}
        Terms of service
    %li
      = link_to privacy_policy_path do
        %i{:class => "foundicon-page"}
        Privacy policy
    %li
      = link_to "http://bit.ly/mygovideascale" do
        %i{:class => "foundicon-idea"}
        Give MyGov beta feedback
    %li
      = link_to pra_path do
        %i{:class => "foundicon-page"}
        Paperwork Reduction Act Statement
    %li
      = link_to '#', {:"data-reveal-id" => 'confirm-delete-modal'} do
        %i{:class => "foundicon-remove"}
        Delete your account
        
#confirm-delete-modal.reveal-modal
  %h2
    Are you sure?
  %p
    By deleting your account, all information associated with your account will be deleted forever. (You can't undo this later.)
  %p
    = link_to "Delete", profile_path, :method => :delete, :class => 'button positive confirm'
    = link_to "Cancel", "#", :class => 'button negative', :onclick => "$('#confirm-delete-modal').trigger('reveal:close');"
  %a.close-reveal-modal
    x
