.panel.group{"data-magellan-destination" => "notifications"}
  %a{:name => "notifications"}
  %h3
    %i{:class => "foundicon-mail"}
    Notifications
  %p
    Important updates related to government.
  .row
    .eleven.columns
      - if @notifications.empty?
        %p
          You currently have no notifications.
      - else
        %table
          %tr
            %th{:scope => "col"}
              From
            %th{:scope => "col"}
              Subject
            %th{:scope => "col"}
              Date
          - @notifications.each do |notification|
            %tr
              - if notification.app
                %td
                  = highlight_notification_if_unread(notification, notification.app.name)
              - else
                %td
                  = highlight_notification_if_unread(notification, 'MyUSA')
              %td
                %i.general.foundicon-mail
                = link_to highlight_notification_if_unread(notification), notification_path(notification)
              %td
                = highlight_notification_if_unread(notification, pretty_time(notification.received_at))
  .row
    .eleven.columns
      = link_to 'View all notifications', notifications_path