.row
  .eight.columns.dashboard
    %h2
      MyGov
      %span
        Dashboard
    - @uncompleted_tasks.each do |task|
      .panel
        %h3
          You're almost done #{ link_to task.app.action_phrase, task_path(task)}!
        %p
          Complete the tasks you need, pre-filled with the information you've already saved.
        - task.task_items.uncompleted.each do |task_item|
          %ol.inline
            %li.full
              = link_to task_item.name, "#", :class => 'small secondary button', :target => "_blank"
              = link_to 'x Remove this task', task_item_path(task_item), :method => :delete, :data => { :confirm => 'Are you sure you want to remove this item?'}
  .four.columns
    - if @us_holiday or @events.any? or @uv_index
      .panel.sidebar
        - if @us_holiday
          %h5
            Today is #{@us_holiday.name}
        - if @events.any?
          %h5
            Today in U.S. History
          %ul.side-nav
            - @events.each do |event|
              %li
                #{event.summary} - #{event.description}
        - if @uv_index
          %h5
            The current UV index for #{@user.zip} is: #{@uv_index}
    .panel.sidebar
      %ul.side-nav
        %li= link_to 'Delete your account', profile_path, :method => :delete, :data => { :confirm => "Are you absolutely certain you want to delete your account? All information associated with your account with be permanently deleted, and you will not be able to recover it." }
        %li= link_to 'Terms of Service', terms_of_service_path
        %li= link_to 'Privacy Policy', privacy_policy_path

= javascript_include_tag "home/dashboard"
= stylesheet_link_tag "home/dashboard"