.row
  .col-md-2
    = render :partial => 'dashboard_nav'
  .col-md-8
    - if flash.notice
      .alert.alert-success
        = flash.notice
    = render :partial => 'dashboard_profile'
    = render :partial => 'dashboard_notifications'
    = render :partial => 'dashboard_tasks'
    = render :partial => 'dashboard_apps'
.row
  .col-md-2
    = render :partial => 'dashboard_recent_activity'