.row 
  .twelve.columns.dashboard
    %h2
      Dashboard
.row
  .eight.columns.dashboard
    - @uncompleted_tasks.each do |task|
      .panel.task
        %span.bookmark
        %h3
          = link_to task.name, task_path(task)
        %p
          Complete the tasks listed here, pre-filled with information you've already saved.
        - task.task_items.uncompleted.each do |task_item|
          %ol.inline
            %li.full
              = link_to task_item.name, task_item.url, :class => 'large button alternate task'
              %i{:class => "foundicon-remove"}
              = link_to 'Remove', task_item_path(task_item), :method => :delete, :data => { :confirm => 'Are you sure you want to remove this item?'}
  .four.columns
    - if @us_holiday or @events.any? or @uv_index
      - if @us_holiday
        .panel.sidebar
          %h5
            Today is #{@us_holiday.name}
      - if @events.any?
        .panel.sidebar
          %h5
            Today in U.S. History
          %ul.side-nav
            - @events.each do |event|
              %li
                #{event.summary} - #{event.description}
      - if @uv_index  
        .panel.sidebar
          %h5
            Your current UV index is:
            %span #{@uv_index}
    .panel.sidebar.tertiary
      %ul.panel-list
        %li
          = link_to '#', {:"data-reveal-id" => 'confirm-delete-modal'} do
            %i{:class => "foundicon-remove"}
            Delete your account
        %li
          = link_to terms_of_service_path do
            %i{:class => "foundicon-page"}
            Terms of Service
        %li
          = link_to privacy_policy_path do
            %i{:class => "foundicon-page"}
            Privacy Policy
            
#confirm-delete-modal.reveal-modal
  %h2
    Are you sure?
  %p
    By deleting your account, all information associated with your account will be deleted forever. (You can't undo this later.)
  %p
    = link_to "Delete", profile_path, :method => :delete, :class => 'button positive confirm'
    = link_to "Cancel", "#", :class => 'button negative', :onclick => "$('#confirm-delete-modal').trigger('reveal:close');"
  %a.close-reveal-modal
    x
