.row
  .six.columns
    = link_to profile_path do
      %i{:class => "foundicon-people"}
      Profile
  .six.columns
    = link_to notifications_path do
      %i{:class => "foundicon-mail"}
      Notifications
.row
  .six.columns
    = link_to "#" do
      %i{:class => "foundicon-checkmark"}
      Tasks
  .six.columns
    = link_to apps_path do
      %i{:class => "foundicon-website"}
      Apps
.row
  .twelve.columns    
    = render :partial => 'administrative_settings'