.row
  .ten.columns.centered
    .row.splash
      .ten.columns.centered
        .row.headline
          .twelve.columns.centered
            %h2
              Developers
            %p.tagline
              Build something for America.
            %h3
              Getting Started
            %p
              To get started building a MyUSA App, you'll need to do the following:
              %h5
                Create an account
              %p
                Go to #{link_to '/sign_up', sign_up_url} and create a MyUSA Account.  If you have not been approved for the private beta, but would like to develop something, #{link_to 'contact us', "mailto:myusa@gsa.gov"} with details.
              %h5
                Register your application
              %p
                #{link_to 'Register a new application', new_app_path} with MyUSA, and make sure to save your MyUSA Client ID and MyUSA Client Secret; you'll need these to authenticate your application with MyUSA.
              %p
                When you create a new application, the app will be 'sandboxed.'  This means only MyUSA users that have the same email address as you have on your account will be able to authorize the application.  Once your app is mature, you can apply to have it made public for all MyUSA users to utilize.  #{link_to 'Contact us', 'mailto:myusa@gsa.gov'} if you think your app is ready for prime time.
            %h3
              MyUSA API
            %p
              The MyUSA API is how MyUSA Apps interact with MyUSA Accounts.  Let's take a look at the features that you can integrate into your application using the MyUSA API.
            %p
              For more detailed information on the MyUSA API, browse the #{link_to 'MyUSA API documentation', 'https://my.usa.gov/developer/api'}.
            %h5
              Profile
            %p
              MyUSA Apps can access a MyUSA Account user's profile information.  Information that is available includes: name, address, contact information and some basic demographic information (married, veteran status, student).
            %p
              If your MyUSA App needs access to a user's profile, make sure to select the 'profile' option when registering your application.
            %h5
              Tasks
            %p
              Need to help a MyUSA user through a complex set of steps to accomplish something?  The Tasks API is for you!  Using the Tasks API, you can create a task with a list of task items for a user.  Tasks that your app creates will show up in their MyUSA Account.  You can also go back and retrieve tasks that your app created for a user, so you can integrate them in your app.
            %p
              If your MyUSA App needs to assign tasks to users, make sure to select the 'tasks' option when registering your application.
            %h5
              Notifications
            %p
              MyUSA Apps can notify MyUSA users with new information using the Notifications API.  MyUSA users will be alerted both via the MyUSA Account and email that they have a new notification from your app.
            %p
              If your MyUSA App needs to notify users with new information, make sure to select the 'notifications' option when registering your application.
            %h5
              More coming soon!
            %p
              We have more API features coming soon.
            %h3
              Authentication
            %p
              In order to get access to the MyUSA API, your application will need to authenticate itself with MyUSA.  MyUSA uses the OAuth 2.0 protocol for authentication and authorization of requests.  When registering your application with MyUSA, make sure to save your OAuth client and secret ids, as you will need them when authorizing with MyUSA.
            %p
              Here's some resources to help you get started with OAuth 2.0 and using the MyUSA API:
              %ul
                %li
                  = link_to 'OAuth 2.0', 'http://oauth.net/2/'
                %li
                  = link_to 'MyUSA OmniAuth Strategy for OAuth 2.0', 'https://github.com/GSA/omniauth-mygov'
                  (Ruby)
                %li
                  = link_to 'MyUSA API PHP SDK', 'https://github.com/GSA/mygov-account-php-sdk'
                  (PHP)
      .row.clear
        .twelve.columns
          = render :partial => 'footer_links'