- if @beta_signup && !@beta_signup.errors.blank?
  - content_for :scripts do
    = javascript_tag do
      $('html,body').animate({scrollTop: $('.alert-box').offset().top},'slow');
.row
  .ten.columns.centered.banner
    %h2
      Navigating government just got easier.
  
    .four.columns
      .panel.decorative.style-two
        .flourish
          %i{:class => "foundicon-clock"}
        %div.fixed-height
          %h3
            Forms
          %p
            Gone are the days of entering your name and address into forms over and over again.
    
    .four.columns
      .panel.decorative.style-two
        .flourish
          %i{:class => "foundicon-address-book"}
        %div.fixed-height
          %h3
            Account
          %p
            Manage your relationship with government in a way that makes sense for you.
  
    .four.columns
      .panel.decorative.style-two
        .flourish
          %i{:class => "foundicon-flag"}
        %div.fixed-height
          %h3
            Discovery
          %p
            Find content and services from across the federal government.


.signup-form.margin-top
  .row
    .six.columns.centered
      %h3
        Try it out
      #signup-form
        %p
          =t('mygov_greeting')
        #fieldset
          = form_for @beta_signup do |form|
            - if flash.alert
              .alert-box
                = flash.alert
            = form.label :email
            = form.email_field :email
            = form.submit 'Sign up', :class => 'large button positive '
    
      
      %p.disclaimer
        %a.plain{:href => "http://presidential-innovation-fellows.github.com/mygov/about/"} Read more about MyUSA
