- if @beta_signup && !@beta_signup.errors.blank?
  - content_for :scripts do
    = javascript_tag do
      $('html,body').animate({scrollTop: $('.alert-box').offset().top},'slow');
.row
  .ten.columns.centered.banner
    %h2
      Take control of how government interacts with you.

.signup-form.margin-top
  .row
    .six.columns.centered
      %h3
        Try it out
      #signup-form
        %p
          =t('mygov_greeting')
        #fieldset
          = form_for @beta_signup do |form|
            - if flash.alert
              .alert-box
                = flash.alert
            = form.label :email
            = form.email_field :email
            = form.submit 'Sign up', :class => 'large button positive '
  
      %p.disclaimer
        %a.plain{:href => "http://presidential-innovation-fellows.github.com/mygov/about/"} Read more about MyUSA
