- if @local_info['jurisdictions']
  .row.local
    .twelve.columns
      %h2 Your Representatives
      - current_jurisdiction_level = nil
      - @local_info['jurisdictions'].each do |jurisdiction|
        - if current_jurisdiction_level != jurisdiction['level']
          .panel
            - current_jurisdiction = jurisdiction['level']
            %ul.jurisdiction-list
              %li.jurisdiction.group
                %h3
                  %a{:name => "#{jurisdiction['level']}-#{jurisdiction['type']}"}
                    %span.level 
                      - if jurisdiction['type'] == 'legislative' and jurisdiction['level'] == 'regional'
                        %span.level_name
                          = "#{jurisdiction['level_name']} "
                      %span.type_name
                        #{jurisdiction['type_name']}: 
                      %span.name
                        #{jurisdiction['name']}
                - if jurisdiction['url']
                  %div{:class => "jurisdiction website"}
                    = link_to jurisdiction['url'] do
                      %i{:class => "foundicon-globe"}
                      %span                      
                        = jurisdiction['url'].gsub(%r[(http:\/\/)|(https:\/\/)], '').chomp("/")              
                - if jurisdiction['phone']      
                  %div{:class => "jurisdiction phone"}                  
                    = link_to "tel:" + jurisdiction['phone'] do
                      %i{:class => "foundicon-phone"}
                      %span                      
                        = number_to_phone(jurisdiction['phone'])
                - if jurisdiction['elected_office']    
                  %ul.elected-list
                    - jurisdiction['elected_office'].each do |elected_office|    
                      - if jurisdiction['level'] != 'sub_regional' or elected_office['url_photo']                                     
                        %li.official
                          %div{:class => "eight mobile-three columns"}
                            %h4
                              - if elected_office['url']                          
                                = link_to elected_office['url'] do
                                  %span.title                     
                                    = elected_office['title']
                                  %span.name 
                                    = elected_office['name_full']
                              - else 
                                %span.title                     
                                  = elected_office['title']
                                %span.name 
                                  = elected_office['name_full']
                            - if elected_office['url']
                              %div{:class => "official website"}
                                = link_to elected_office['url'] do
                                  %i{:class => "foundicon-globe"}
                                  %span                            
                                    = elected_office['url'].gsub(%r[(http:\/\/)|(https:\/\/)], '').chomp("/")
                            - if elected_office['phone'] 
                              %div{:class => "official phone"}
                                = link_to "tel:" + elected_office['phone'] do
                                  %i{:class => "foundicon-phone"}
                                  %span
                                    = number_to_phone(elected_office['phone'])                       
                          %div{:class => "four mobile-one columns"}
                            - if elected_office['url_photo']
                              %img.elected-official{:src => elected_office['url_photo']}  
                          - twitter_handle = nil  
                          - if elected_office['social_media']
                            %div.social-media
                        
                              - elected_office['social_media'].each do |social_media|    
                                - if social_media['type'] == 'twitter'
                                  - twitter_handle = social_media['username']                                                
                                = link_to social_media['url'] do
                                  %i{:class => "social foundicon-#{social_media['type']}"}
                                  %span
                                    = social_media['description'] 
                        - if twitter_handle != nil
                          %h5.clear
                            Recent tweets
                          %div{:class => "twitter-feed group", :id => twitter_handle}
                            %div{:class => "arrow"}  
  
