= form_for @user, :url => welcome_path(:step => 'about_you') do |form|
  %fieldset
    %legend
      Tell us a little about yourself
    %p
      This information will only be used to find service sand information relevant to you. Learn more, visit our privacy policy.  
      
    %p
      = form.label :zip, "Zip code"
      = form.text_field :zip
    %li
      = form.label :date_of_birth, "When were you born?"
    %li
      %ul.sublist
        %li.inline.four.columns
          = form.date_select :date_of_birth, :start_year => 1900, :end_year => Date.current.year, :date_separator => "</li><li class='inline four columns'>".html_safe, :default => { :year => 1998, :month => 1, :day => 1 }
  = form.submit 'Continue', :class => 'large button'
  = link_to 'Skip this step', welcome_path(:step => 'about_you')