- if user_signed_in?
  .row
    .ten.columns.centered
      .panel.group
        .ten.columns
          %h3
            Allow 
            %em
              #{@oauth2.client.name}
            to access your MyUSA account?
          %p
            The
            %b
              = @oauth2.client.name
            application wants to:
            %ul.plain-list
              - @oauth2.client.owner.find_scopes(@oauth2.scopes).each do |scope|
                %li
                  = scope.description
            %p.disclaimer 
              You can revoke access to any application at any time from your Apps page.
    
          
        .two.columns.hide-for-small.panel
          = image_tag @oauth2.client.owner.logo, :class => 'icon'   
          %p.info
            = @oauth2.client.owner.short_description
        .row
          .twelve.columns
            = form_tag "/oauth/allow" do
              - @oauth2.params.each do |key, value|
                = hidden_field_tag key, value
              = hidden_field_tag :user_id, current_user.id
              = hidden_field_tag :allow, "1", :id => "allow"
              = submit_tag 'Allow', :class => 'large button positive'
              = submit_tag 'Cancel', :class => 'large button negative'      
- else
  %p
    Please
    =link_to 'sign in', sign_in_path
    to continue.