- if user_signed_in?
  %p
    #{@oauth2.client.name} wants
    - if @oauth2.scopes.blank? || (scopes = @oauth2.client.owner.find_scopes(@oauth2.scopes)).blank?
      to access your profile.
    - else
      = 'to:'
      %ul
      - scopes.each do |scope|
        %li
          = scope.description
  = form_tag "/oauth/allow" do
    - @oauth2.params.each do |key, value|
      = hidden_field_tag key, value
    = hidden_field_tag :user_id, current_user.id
    = check_box_tag :allow, "1", :id => "allow"
    = label_tag :allow, "Allow this application"
    = submit_tag 'Authorize'
- else
  %p
    Please
    =link_to 'sign in', sign_in_path
    to continue.