.row.panel.secondary
  .eight.columns
    %h5
      Address
    %ul.plain
      %li
        = @user.address
      %li
        = @user.address2
      %li
        = @user.city
      %li
        = @user.state
      %li
        = @user.zip
  .four.columns.align-right
    = form_for @user, :url => address_app_path(@app), :method => :post do |form|
      = render 'hidden_info_fields', :form => form
      = render 'hidden_address_fields', :form => form
      = submit_tag 'Edit Address', :class => 'small secondary button'
    