.row.panel.secondary
  .eight.columns
    %h5
      Date of Birth
    %ul.plain
      %li
        = @user.date_of_birth

  .four.columns.align-right
    = form_for @user, :url => birthdate_app_path(@app), :method => :post do |form|
      = render 'hidden_info_fields', :form => form
      = render 'hidden_address_fields', :form => form
      = form.hidden_field :date_of_birth
      = submit_tag 'Edit Date of Birth', :class => 'small secondary button'
          