.row.panel.secondary.group
  .eight.columns
    %h5
      Contact Info  
    %ul.plain
      %li
        = @user.email
      %li
        %span
          Home phone:
        = @user.phone_number
      %li
        %span
          Mobile phone:
        = @user.mobile_number
    
  .four.columns.align-right
    = form_for @user, :url => contact_info_app_path(@app), :method => :post do |form|
      = render 'hidden_info_fields', :form => form
      = render 'hidden_address_fields', :form => form
      = form.hidden_field :date_of_birth
      = render 'hidden_contact_info_fields', :form => form
      = submit_tag 'Edit Contact Information', :class => 'small secondary button'

