.row
  .eight.columns
    = simple_form_for @app do |f|
      = f.input :name
      = f.input :description      
      = f.input :short_description
      = f.input :url      
      = f.input :redirect_uri
      = f.input :logo
      = submit_tag 'Create new application', :class => 'large button'