%ul
  %li
    = f.label :name
    = f.text_field :name
  %li
    = f.label :description
    = f.text_area :description
  %li
    = f.label :short_description
    = f.text_field :short_description
  %li
    = f.label :url
    = f.text_field :url
  %li
    = f.label :redirect_uri
    = f.text_field :redirect_uri
  %li
    = f.label :logo
    = f.file_field :logo
  %li
    = label_tag 'app_oauth_scopes' do
      App Scopes: select which parts of the MyUSA API your application will use:
      %ul
        - @scope_groups.each do |oauth_scope|
          %li
            = render :partial => 'oauth_scope_checkbox', :locals => {:app => @app, :oauth_scope => oauth_scope, :index => oauth_scope.id}
            - if @grouped_scopes[oauth_scope.scope_name.to_sym]
              %ul
                - @grouped_scopes[oauth_scope.scope_name.to_sym].each do |grouped_oauth_scope|
                  %li
                    = render :partial => 'oauth_scope_checkbox', :locals => {:app => @app, :@sub_scope => grouped_oauth_scope,:oauth_scope => grouped_oauth_scope, :index => oauth_scope.id}