.row.panel.secondary
  .eight.columns
    %h5
      Name
    %ul.plain
      = @user.title 
      %li 
        = @user.first_name
        = @user.middle_name
        = @user.last_name
        = @user.suffix
  .four.columns.align-right
    = form_for @user, :url => info_app_path(@app), :method => :post do |form|
      = render 'hidden_info_fields', :form => form
      = submit_tag 'Edit Name', :class => 'small secondary button'