.row
  .twelve.columns
    %h5
      Name
    = form_for @user, :url => info_app_path(@app), :method => :post do |form|
      = render 'hidden_info_fields', :form => form
      = submit_tag 'Edit Name', :class => 'small button'
.row
  .six.columns
    %table.responsive
      %tbody
        %tr
          %td
            Title
          %td
            = @user.title
        %tr
          %td
            First name
          %td
            = @user.first_name
        %tr
          %td
            Middle name
          %td
            = @user.middle_name
        %tr
          %td
            Last name
          %td
            = @user.last_name
        %tr
          %td
            Suffix
          %td
            = @user.suffix