= label_tag "app[app_oauth_scopes_attributes][#{oauth_scope.id}][oauth_scope_id]" do
  - checkbox_options = is_parent ? {"parent_value" => oauth_scope.scope_name} : {"parent_scope" => oauth_scope.scope_name.split(/\./)[0]}
  = check_box_tag "app[app_oauth_scopes_attributes][#{oauth_scope.id}][oauth_scope_id]", oauth_scope.id, @app.app_oauth_scopes.collect(&:oauth_scope_id).include?(oauth_scope.id) ? true : false, checkbox_options    
  - if is_parent
    = oauth_scope.parent_readable_name
  - else
    = oauth_scope.readable_name