= render :partial => 'header'
.row-fluid
  .span9
    %h5
      Contact information
    = form_for @user, :url => @action_path || review_app_path(@app) do |form|
      = render 'hidden_info_fields', :form => form
      = render 'hidden_address_fields', :form => form
      = form.hidden_field :date_of_birth
      %p
        = form.label :email
        = form.text_field :email
      %p
        = form.label :phone
        = form.text_field :phone
      %p
        = form.label :mobile
        = form.text_field :mobile
      = submit_tag 'Continue'
