.row-fluid
  .span12
    %legend
      = @app.name
    %p
      Congrats, you're already 25% of the way there!
      .progress
        .bar{:style => 'width: 25%;'}
    %h4
      Let's begin with a few simple questions.
    %p
      We're going to help you fill out the forms you need for #{@app.name}.  By answering a few simple questions up front, we'll automatically fill out as much of the forms as we can for you - which saves you time!  (We won't share your info with anyone, Scout's honor.)
    %h5
      Your name
    = form_for @user, :url => address_app_path(@app) do |form|
      %p
        = form.label :title, "Title / Prefix"
        = form.select :title, title_options, :include_blank => true
      %p
        = form.label :first_name
        = form.text_field :first_name
      %p
        = form.label :middle_name
        = form.text_field :middle_name
      %p
        = form.label :last_name
        = form.text_field :last_name
      %p
        = form.label :suffix
        = form.select :suffix, suffix_options, :include_blank => true
      = submit_tag 'Continue'

      