- content_for :head do
	= tag('meta', :'http-equiv' => "refresh", :content => "#{Rails.application.config.apps_leaving_delay};#{URI.escape @app.url}")  

.row
	.eight.columns
		- if @put_leaving_usa
			%h2
				#{t('leaving_myusa')}
		%p
			#{t('apps_leaving')} #{link_to @app.url, @app.url}.
		%p
			- if @put_leaving_usa
				#{t('not_part_of_myusa')}.