= render :partial => 'header'
.row
  .twelve.columns
    %h4
      Review your information
    = render 'info_review'
    = render 'address_review'
    = render 'birthdate_review'
    = render 'contact_info_review'
    = render 'continue_to_forms'