= render :partial => 'header'
.row
  .eight.columns
    %h4
      We're going to help you fill out the forms you need for #{@app.action_phrase}.
    %p
      By answering a few simple questions up front, we'll automatically fill out as much of form(s) as we can for you.
      = form_tag start_app_path(@app) do
        - unless flash[:error].nil?
          = label_tag 'error', :class => 'error' do
            = flash[:error]
        %fieldset 
          %legend  
            To help us find the right form(s), please tell us your reasons for #{@app.action_phrase}.
          %ol
            - @app.criteria.each do |criterium|
              %li.full
                = label_tag "app[#{criterium.label}]" do
                  = check_box_tag "app[#{criterium.label}]"
                  = criterium.label
        %div.actions
          = submit_tag 'Continue', :class => 'large button positive'
          = link_to "No thanks, I'd rather print out the forms", forms_app_path(@app) 
  .four.columns
    = render :partial => 'sidebar'  