= image_tag @app.logo.url(:thumb)
%br
= link_to(@app.name, @app.oauth2_client.redirect_uri)
%br
= @app.description
%br
- if @current_user_apps.include?(@app)
  = " (Authorized)"
  = link_to "Revoke access", uninstall_app_path(@app)