= render :partial => 'header'
.row-fluid
  .span9
    %h4
      We're going to help you fill out the forms you need to #{@app.name.downcase}.
    %p
      By answering a few simple questions up front, we'll automatically fill out as much of form(s) as we can for you.
    %p
      To help us find the right forms, please tell us your reason for wanting to #{@app.name.downcase}.
      What are your reasons for wanting to #{@app.name.downcase}?
      = form_tag start_app_path(@app) do
        - unless flash[:error].nil?
          .alert.alert-error
            = flash[:error]
        - @app.criteria.each do |criterium|
          %label.checkbox
            = check_box_tag "app[#{criterium.label}]"
            = criterium.label
        %br
        = submit_tag 'Continue'
        = link_to "No thanks, I'd rather print out the forms >", forms_app_path(@app)
  .span3
    = render :partial => 'sidebar'  