- if flash.alert
  .alert-box
    = flash.alert
= image_tag @app.logo.url(:thumb)
%br
= link_to @app.name, @app.url
%br
= @app.description
%br
- if @user_installed_apps.include?(@app)
  (Authorized)
  = link_to "Revoke access", uninstall_app_path(@app)
- if @app.has_owner?(@user)
  = link_to 'Edit', edit_app_path(@app)