.row
  .twelve.columns
    %h2 Change your password
    .eight.columns
      .panel
        = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          %div
            = f.label :password, "New password"
            %br/
            = f.password_field :password, autocomplete: 'off'
          %div= f.submit "Change my password", class: 'large button positive', :accesskey => access_keys[:submit]
    .four.columns
      .panel.side-panel
        = render "devise/shared/links"
