.row
  .col-md-12
    %h2
      Forgot your password?
<<<<<<< HEAD:app/views/devise/passwords/new.html.haml
.row
  .col-md-12
    = devise_error_messages!
    = flash_messages

    - if flash.notice
      .alert.alert-info
        = flash.notice

.row
  .col-md-6
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, novalidate: true }) do |f|
      %fieldset.plain
        %ol.inline
          %li
            = f.label :email, "Enter your email address"
          %li
            = f.email_field :email
        %div.actions= f.submit "Email password reset instructions", :class => 'btn btn-primary'

  .col-md-6
    = render "shared/signup_options"
