!!! 5
%html(lang="en")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    = yield :head
    - if current_user && request.get? # If it's a post, then no redirect
      = refresh_meta_tag_conent

    = head_metadata(content_for?(:title) ? yield(:title) : "MyUSA", content_for?(:meta_description) ? yield(:meta_description) : "A platform for connecting people and government")

    = csrf_meta_tags

    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "dashboard", :media => "all"

    = stylesheet_link_tag "fonts", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "general_foundicons", :media => "all"

    %link{:href=>'http://fonts.googleapis.com/css?family=Raleway:400,300,500,700', :rel=>'stylesheet', :type=>'text/css'}
    /[if !IE 7]
      = stylesheet_link_tag "ie7", :media => "all"

    /[if lt IE 9]
      = stylesheet_link_tag "general_foundicons_ie7", :media => "all"
      = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
      = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
      = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :sizes => '72x72', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
      = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :sizes => '114x114', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
      = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :sizes => '144x144', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
      = javascript_include_tag 'modernizr'

  %body
    #header
      %nav{:class=>'navbar-wrapper navbar-default navbar-fixed-top', :role=>'navigation'}
        .navbar-inner
          .container
            .navbar-header.col-md-6

              %button{"type"=>"button","class"=>"navbar-toggle","data-toggle"=>"collapse", "data-target"=>".navbar-ex1-collapse"}
                %span.sr-only
                  Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar

              %a{:href => root_url, :class => 'navbar-brand'}
                %h1
                  My<span>USA</span>

            - if current_user

              .collapse.navbar-collapse.navbar-ex1-collapse
                = render_navigation

            #sign-in-utility.col-md-6
              - if !current_user && request.path != sign_in_path
                =t('sign_in_prompt')
                =link_to t('sign_in_link'), sign_in_path, class: 'btn btn-default'
    #main
      %a{:name => "top"}
      .nav-container
        .row
          .col-md-12
      .container
        = session_timeout_message
        = yield

        .row
          .col-md-1
          .col-md-11
            - if current_user
              = render :partial => 'home/administrative_settings'
            - else
              = render :partial => 'home/footer_links'

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = content_for :scripts
    = render :partial => "shared/ab", :locals => { :segment => @segment }
    = analytics_init if Rails.env.production?
