!!! 5
%html(lang="en")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    = yield :head
    - if current_user && request.get? # If it's a post, then no redirect
      = refresh_meta_tag_conent

    = head_metadata(content_for?(:title) ? yield(:title) : "MyUSA", content_for?(:meta_description) ? yield(:meta_description) : "A platform for connecting people and government")

    = csrf_meta_tags

    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "dashboard", :media => "all"

    /[if !IE 7]

    /[if lt IE 9]
      = stylesheet_link_tag "general_foundicons_ie7", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag 'modernizr'

  %body
    #header
      %nav{:class=>'navbar-wrapper navbar-default navbar-fixed-top', :role=>'navigation'}
        .navbar-inner
          .container
            .navbar-header.col-md-6

              %button{"type"=>"button","class"=>"navbar-toggle","data-toggle"=>"collapse", "data-target"=>".navbar-ex1-collapse"}
                %span.sr-only
                  Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar

              %a{:href => root_url, :class => 'navbar-brand'}
                %h1
                  My<span>USA</span>

            - if current_user
              .collapse.navbar-collapse.navbar-ex1-collapse
                %ul.nav.navbar-nav.col-md-6
                  %li.active
                    = link_to "Dashboard", dashboard_path
                  %li
                    = link_to "Settings", settings_path
                  %li
                    = link_to "Help", help_path
                  %li
                    = link_to "Logout", sign_out_path, class: 'btn btn-default'

            .col-md-12
              - if !current_user && request.path != sign_in_path
                %h3.tagline
                  =t('sign_in_prompt')
                  =link_to t('sign_in_link'), sign_in_path
    #main
      %a{:name => "top"}
      .nav-container
        .row
          .twelve.columns
      .container
        = session_timeout_message
        = yield
      - unless current_user
        .no-toolbar

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = content_for :scripts
    = render :partial => "shared/ab", :locals => { :segment => @segment }
    = analytics_init if Rails.env.production?
