!!! 5
%html.splash-page(lang="en")
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, user-scalable=yes")
    
    %meta(name="format-detection" content="telephone=yes") 
    
    %meta(name="HandheldFriendly" content="True")
    %meta(http-equiv="cleartype" content="on")
    
    %meta(property="fb:app_id"               content="MyGov")
    %meta(property="og:type"                 content="website")
    %meta(property="og:url"                  content="http://my.usa.gov/") 
    %meta(property="og:image"                content="http://my.usa.gov/assets/touch-icon-iphone4.png")
    %meta(property="og:title"                content="MyGov")
    %meta(property="og:description"          content="A platform for connecting people and government")
    
    %title= content_for?(:title) ? yield(:title) : "MyGov"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :sizes => '72x72', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :sizes => '114x114', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :sizes => '144x144', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
   
    = javascript_include_tag 'modernizr' 
    
    
    


  %body.sign-up
      
    %div#wrap
      %div#main
        .nav-container.group
          .logo
            .row
              .twelve.columns
                %p.sign-in-bar.right
                  
                  
                  =t('sign_in_prompt')
                  =link_to t('sign_in_link'), sign_in_path
                  
            %h1
              Project MyGov
          = yield
            
          .secondary
            .row 
              .twelve.columns
                %ul
                  %li
                    %a.info{:href => "http://presidential-innovation-fellows.github.com/mygov/about/"} About MyGov
                  %li
                    %a.info{:href => "http://www.whitehouse.gov/sites/default/files/omb/egov/digital-government/digital-government.html"} Digital Government: Building a 21st Century Platform
          
          
      /
        Javascripts
        \==================================================
      / Placed at the end of the document so the pages load faster
      = javascript_include_tag "application"
      
      = analytics_init if Rails.env.production?
      = render :partial => "shared/ab", :locals => { :segment => @segment }
