.row
  .eight.columns
    %h2
      Change Your Email Address
    - if flash.notice
      .alert-box.blue
        = flash.notice 
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      %div
        = label_tag "user[email]", "Email"
        %br
        = email_field_tag "#{resource_name}[email]", resource.unconfirmed_email ? resource.unconfirmed_email : resource.email, :size => 30
      %div
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br
        = f.password_field :current_password, autocomplete: 'off'
      %div= f.submit "Update"
    %p
      = link_to "Back", settings_path
