.row
  .col-md-2
    %h5
      Settings

    %ul.nav.nav-pills.nav-stacked
    = render_navigation(:context => :settings)

  .col-md-8
    %h2
      = t(:change_your_email_address)

    = devise_error_messages!
    = flash_messages

    .panel
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, novalidate: true }) do |f|

        %div
          = f.label :email
          %br
          = f.email_field :email, value: resource.unconfirmed_email ? resource.unconfirmed_email : resource.email, :size => 30
          %br
          = f.label :current_password
          %i= "(#{t(:need_current_password)})"

          %br
          = f.password_field :current_password, autocomplete: 'off'
          %br

        %div
          = f.submit t(:update), class: 'btn btn-primary form-button', :accesskey => access_keys[:submit]

          = link_to t(:cancel), account_index_path
