.row
  .seven.columns
    %h4
      Navigating government just got easier.  We're here to help you find the services and information you need, whenever you need them.
    %ul
      %li
        %b
          Save time
        %p
          Gone are the days of entering your name into multiple forms over and over again.
      %li
        %b
          Stay informed
        %p
          Tell us what's important to you, and we'll send timely alerts and notifications.
      %li
        %b
          Made to order
        %p
          We search for and find tailored content that matters to you - both locally and nationally.
  
  .five.columns.sidebar.form
    %fieldset 
      %legend
        Sign up
      %p
        Please answer some basic questions.
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          - if flash.alert
            .alert-box
              = flash.alert
          = devise_error_messages!
          %ol
            %li
              = f.label :first_name
              = f.text_field :first_name
            %li
              = f.label :last_name
              = f.text_field :last_name
            %li
              = f.label :email
              = f.email_field :email
            %li
              = f.label :password
              = f.password_field :password
            %li
              = f.label :password_confirmation
              = f.password_field :password_confirmation
            %li= f.submit 'Sign up', :class => 'button positive'
        
        .third-party
          = render "devise/shared/provider_links"