- if resource && !resource.errors.blank?
  - content_for :scripts do
    = javascript_tag do
      $('html,body').animate({scrollTop: $('#error_explanation').offset().top},'slow');
.row
  .ten.columns.centered.banner
    %h2
      Navigating government just got easier.
  
  .four.columns
    .panel.decorative.style-two
      .flourish
        %i{:class => "foundicon-clock"}
      %div.fixed-height
        %h3
          Save time
        %p
          Gone are the days of entering your name and address into forms over and over again.
  
  .four.columns
    .panel.decorative.style-two
      .flourish
        %i{:class => "foundicon-inbox"}
      %div.fixed-height
        %h3
          Stay Informed
        %p
          Tell us what matters to you, and we'll send you timely messages.

  .four.columns
    .panel.decorative.style-two
      .flourish
        %i{:class => "foundicon-flag"}
      %div.fixed-height
        %h3
          Get connected
        %p
          Content and services from across government that matter to you.       

.row
  .twelve.columns
    .pitch.group

.row      
  .eight.columns
    .panel
      %fieldset.fancy
        %legend
          %span.welcome
            Invited in to the MyUSA beta? 
            %em
              Sign up to begin.
          %span
            %i{:class => "foundicon-star"}
            %i{:class => "foundicon-star"}
            %i{:class => "foundicon-star"}
            %i{:class => "foundicon-star"}
          Sign up
          %span
            %i{:class => "foundicon-star"}
            %i{:class => "foundicon-star"}
            %i{:class => "foundicon-star"}
            %i{:class => "foundicon-star"}
        %p
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            - if flash.alert
              .alert-box
                = flash.alert
            = devise_error_messages!
            %ol
              %li
                = f.label :email
                = f.email_field :email
              %li
                = f.label :password
                = f.password_field :password
              %li
                = f.label :password_confirmation
                = f.password_field :password_confirmation
              %li
                = f.label :terms_of_service do
                  = f.check_box :terms_of_service
                  I agree to the MyUSA #{link_to 'Terms of Service', terms_of_service_path} and #{link_to 'Privacy Policy', privacy_policy_path}
              %li= f.submit 'Sign up', :class => 'button positive'
                   
  .four.columns
    .panel.side-panel
      = render "devise/shared/provider_links"
    