.row
  .ten.columns.centered.banner
    %h2
      Navigating government just got easier. 
.row      
  .eight.columns.panel
    %fieldset.plain
      %legend
        Sign up
      %p
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          - if flash.alert
            .alert-box
              = flash.alert
          = devise_error_messages!
          %ol
            %li
              = f.label :first_name
              = f.text_field :first_name
            %li
              = f.label :last_name
              = f.text_field :last_name
            %li
              = f.label :email
              = f.email_field :email
            %li
              = f.label :password
              = f.password_field :password
            %li
              = f.label :password_confirmation
              = f.password_field :password_confirmation
            %li= f.submit 'Sign up', :class => 'button positive'
    %p.disclaimer
      Privacy Policy | Terms of Service
              
  .four.columns
    .panel.side-panel
      = render "devise/shared/provider_links"