.row
  .col-md-12
    = devise_error_messages!
    = flash_messages
    %h2
      = t(:take_control)

.row
  .col-md-8
    %p
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {novalidate: true}) do |f|
        = flash_messages
        = devise_error_messages!

        %ol.inline.sign-in-panel
          %li.row
            .col-md-2
              = f.label :first_name
            .col-md-6
              = f.text_field :first_name
          %li.row
            .col-md-2
              = f.label :last_name
            .col-md-6
              = f.text_field :last_name
          %li.row
            .col-md-2
              = f.label :email
            .col-md-6
              = f.email_field :email
          - if !!params[:error_return_to] || !!(params[:user] && params[:user][:password])
            = f.password_field :password, type: 'hidden', value: 'Password1', autocomplete: 'off'
          - else
            %li.row
              = f.label :password, :required => !params[:error_return_to]
              = f.password_field :password, autocomplete: 'off'
          %li.row
            .col-md-2
            .col-md-6
              = f.label :zip
              = f.text_field :zip
          %li.row
            .col-md-2
            .col-md-6
              = f.label :terms_of_service do
                = f.check_box :terms_of_service
                = t(:i_agree_html, :terms_of_service_link => link_to(t(:terms_of_service), terms_of_service_path), :privacy_policy_link => link_to(t(:privacy_policy), privacy_policy_path))
          %li.row
            .col-md-2
            .col-md-6
              = recaptcha_tags display: {theme: 'clean'} if recaptcha_needed?
          %li.row
            .col-md-2
            .col-md-6
              = f.submit t(:sign_up), :class => 'btn btn-primary btn-lg', :accesskey => access_keys[:submit]

  .col-md-4
    = render "devise/shared/provider_links"
